@media (max-width:192px) {
    .market-line {
        height: auto;
    }

    .market-sign_up {
        font-size: 10px;
        text-align: center;
    }

    .market-header__all {
        width: 100%;
        height: auto;
        margin: 0;

    }

    .market-header__logo {
        font-size: 12px;
    }

 .market-cards {
margin: 0 0;
width: 1005%;
flex-wrap: wrap;
}
.market-cards_1 {
    width: 50%;
}

.market-cards_2{
width: 50%;
}
.market-cards_3 {
    width: 50%;
}




}