.market-header {
    width: 100%;
    height: ;
    display: flex;
    flex-direction: column;
}

.market-line {
    width: 100%;
    height: 38px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;




}

.market-sign_up {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;


}

/* .market-sign_up__close {
    margin-left: auto;
    width: 20px;
    height: 20px;
    background-image: url('../images/Frame.svg');
    background-position: center;
    background-size: contain;




} */

.market-header__all {
    width: 100wh;
    height: 48px;
    margin: 24px 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.market-header__logo {
    font-family: 'FONTSPRING DEMO - Integral CF', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #000;
}

.market-cards {
    margin: 129px 200px;
    width: 100wh;
    height: 408px;
    background: #fff;
    display: flex;
    justify-content: space-between;

}

.market-cards_1 {
    width: 295px;
    height: auto;

}

.market-cards_1_1 {
    margin-bottom: 16px;
    border-radius: 20px;
    width: 295px;
    height: 298px;
    background-image: url('../images/shtan.jpg');
}

.market-cards_1_span {
    font-family: 'Satoshi' Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.market-cards_1_star {
    margin-top: 8px;
    width: 126px;
    height: 19px;
    display: flex;
}

.star {
    width: 19px;
    height: 17px;
    background: #fff;
    background-image: url('../images/Star.svg');
}

.hlfstar {
    width: 10px;
    height: 17px;
    background: #fff;
    background-image: url('../images/hStar.svg');
}

.star_span {
    margin-left: 13px;
    font-family: 'Satoshi' Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.market-cards_1_cost {
    margin-top: 8px;
    width: 200px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.cost_1 {
    font-family: 'Satoshi', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.cost_2 {
    font-family: 'Satoshi', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.4);
}

.cost_3 {
    border-radius: 62px;
    padding: 6px 14px;
    width: 58px;
    height: 28px;
    background: rgba(255, 51, 51, 0.1);
}

.cost_3_span {
    font-family: 'Satoshi', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #f33;
    text-align: center;
}

.market-cards_2_1 {
    margin-bottom: 16px;
    border-radius: 20px;
    width: 295px;
    height: 298px;
    background-image: url('../images/shirt.jpg');
}

.market-cards_3_1 {
    margin-bottom: 16px;
    border-radius: 20px;
    width: 295px;
    height: 298px;
    background-image: url('../images/tshirt.jpg');
}